## Sanity Project ID
## Add the ID to both NEXT_PUBLIC_ & SANITY_STUDIO_
## Which is mandatory for localhost:3333 and localhost:3000

NEXT_PUBLIC_SANITY_PROJECT_ID=0giprylc
SANITY_STUDIO_PROJECT_ID=0giprylc

NEXT_PUBLIC_SANITY_DATASET=digimoda
SANITY_REVALIDATE_SECRET=skajkQT2fLFPktPKjF7ooJK0LGlS09vU57M0nkpUERgMNjRSaoRSZQxq4SZmj7OGxEKqZXuKV0BEkOom7n9mQXs1fPjC4WvRmRLuqyNzZi6vCkoxOqdytdMpr48otn2B2oUVLqsbQ2n01HrtlGIPxLiKSslwJXwrgnx7JtCztPgeGrYjsJkF
